.bk{
    -fx-background-color:rgb(206,241,255);
}
.button{
    -fx-background-color:rgb(204,204,255);
    -fx-font-family:"Trebuchet MS";
    -fx-font-size:16px;

}
.text{

    -fx-font-family:"Trebuchet MS";
    -fx-font-size:16px;

}